body {
    background-image:url(https://c1.wallpaperflare.com/preview/816/993/186/food-drink-food-pizza-pizzas.jpg);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.pizza {
    border: 1px solid rgb(30, 210, 45);
    padding: 1em;
    margin: 1em;
    margin-bottom: 0.5em;
    border-radius: 2em;
    width: 25em;
    display: inline-block;
    min-height: 20em;
    
}
H1 {
    text-align: center;
    color:beige;
}
h2 {
    color: beige;
}
h3 {
    color: blanchedalmond;
}

.medium_pizza {
    background-color: rgb(30, 210, 186);
    flex: 5;
}

.large_pizza {
    background-color: rgb(255, 0, 187);
    flex: 1;
}

.small_pizza {
    background-color: rgb(5, 100, 98);
    flex: 3;
}

.contact_us {
    background-color: crimson;
    flex: 1;
}
.special{
    background-color: black;
    color: aliceblue;
    margin: 0em;
}
@media (min-width: 760px) {

    body {
        background-color: rgb(124, 99, 156);
        
    }

@media (min-width: 960px) {

    body {
        background-color: rgba(245, 239, 245, 0.948);
        
    }
}    


    
  
    
}